{% extends 'king_admin/table_index.html' %}
{% load tags %}

{% block extra-css-resources %}
    <style>
        .focusedInput-waring {
            border-color: #EF5B50;
            outline: 0;
            outline: thin dotted \9;
            -webkit-box-shadow: 0 0 8px #EF5B50;
            box-shadow: 0 0 8px #EF5B50;
        }

        .focusedInput-info {
            border-color: #33CC3B;
            outline: 0;
            outline: thin dotted \9;
            -webkit-box-shadow: 0 0 8px #33CC3B;
            box-shadow: 0 0 8px #33CC3B;
        }
    </style>
{% endblock %}



{% block container %}
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{ query_set }}密码修改</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10">
                        <form method="post" class="form-horizontal" role="form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="pass1" class="col-sm-1 control-label">密码</label>
                                <div class="col-sm-3">
                                    <input id="pass1" class="form-control" type="password" name="password1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pass2" class="col-sm-1 control-label">重复密码</label>
                                <div class="col-sm-3">
                                    <input id="pass2" class="form-control" type="password" name="password2"
                                           onkeyup="validate()">
                                </div>
                            </div>
                            <div class="form-group">
                                <span id="tishi"></span>
                                <button class="btn btn-info center-block" type="submit" disabled>提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javaScripts %}
    <script>
        function validate() {

            var pwd1 = $("input[name='password1']").val();
            var pwd2 = $("input[name='password2']").val();
            <!-- 对比两次输入的密码 -->
            if (pwd2 == pwd1) {
                $("input[name='password1']").addClass("focusedInput-info").removeClass("focusedInput-waring");
                $("input[name='password2']").addClass("focusedInput-info").removeClass("focusedInput-waring");
                $("button").removeAttr("disabled");
            }
            else {
                $("input[name='password1']").addClass("focusedInput-waring").removeClass("focusedInput-info");
                $("input[name='password2']").addClass("focusedInput-waring").removeClass("focusedInput-info");
                $("button").attr("disabled", "disabled");
            }
        }
    </script>
{% endblock %}