{% extends 'king_admin/table_index.html' %}
{% load tags %}


{% block container %}
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    {{ form_obj.errors }}
                    {% for field in form_obj %}
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">
                                {% if field.field.required %}
                                    <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> {{ field.label }}
                                {% else %}
                                    {{ field.label }}
                                {% endif %}
                            </label>
                            <div class="col-sm-4">
                                {{ field }}
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-md-10">
                            <button type="submit" class="btn btn-success pull-right" value="save">save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}