{% extends 'king_admin/table_index.html' %}
{% load tags %}


{% block container %}
    {{ admin_class.list_display }}


    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>

        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    {% for colum in admin_class.list_display %}
                        <th>{{ colum }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for query_set in query_sets %}
                    <tr>
                        {% build_table_row query_set admin_class %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            {#分页开始#}
            <nav aria-label="...">
                <ul class="pagination">
                    <li class=""><a href="?page=1">首页</a></li>
                    {% if query_sets.has_previous %}
                        <li class=""><a href="?page={{ query_sets.previous_page_number }}">上一页</a></li>
                    {% else %}
                        <li class="disabled"><span><span aria-hidden="true">上一页</span></span></li>
                    {% endif %}
                    {% for loop_counter in query_sets.paginator.page_range %}
                        {% render_page_ele loop_counter query_sets %}
                    {% endfor %}
                    {% if query_sets.has_next %}
                        <li class=""><a href="?page={{ query_sets.next_page_number }}">下一页</a></li>
                    {% else %}
                        <li class="disabled"><span><span aria-hidden="true">下一页</span></span></li>
                    {% endif %}
                    <li class=""><a href="?page=9999999">尾页</a></li>
                </ul>
            </nav>
            {#分页结束#}
        </div>
    </div>

{% endblock %}

