{% extends 'king_admin/table_index.html' %}
{% load tags %}


{% block container %}
    {{ admin_class.list_display }}


    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>

        <div class="panel-body">
            <div class="row">
                <form class="form-group" method="get">
                    {% for condtion in admin_class.list_filters %}
                        <div class="col-md-1">
                            <span>{{ condtion }}</span>
                            {% render_filter_ele condtion admin_class filter_conditions %}
                        </div>
                    {% endfor %}
                        <button type="submit" class="btn btn-success">检索</button>
                </form>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    {% for colum in admin_class.list_display %}
                        <th>{{ colum }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for query_set in query_sets %}
                    <tr>
                        {% build_table_row query_set admin_class %}
                    </tr>
                {% endfor %}

                </tbody>
            <tfoot>
                <tr>
                    <td>总计{{ query_sets.paginator.count }}条</td>
                </tr>
            </tfoot>
            </table>
            {#分页开始#}
            <nav aria-label="..." class="pull-right">
                <ul class="pagination">
                    <li class=""><a href="?page=1">首页</a></li>

                    {% build_paginators query_sets filter_conditions %}

                    <li class=""><a href="?page=9999999">尾页</a></li>
                </ul>
            </nav>
            {#分页结束#}
        </div>
    </div>

{% endblock %}

