{% extends 'king_admin/table_index.html' %}
{% load tags %}


{% block container %}
    {{ admin_class.list_display }}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{% get_model_name admin_class %}
            <a href="{{ request.path }}add/" class="pull-right btn btn-default btn-xs">ADD</a>
            </h3>

        </div>

        <div class="panel-body">
            <div class="row">
                <form class="form-group" method="get">
                    {% for filter_field in admin_class.list_filters %}
                        <div class="col-md-1">
                            <span>{{ filter_field }}</span>
                            {% render_filter_ele filter_field admin_class filter_conditions %}
                        </div>
                    {% endfor %}
                    {# TODO #}
                    <button type="submit" class="btn btn-success" style="margin-top: 19px">检索</button>
                    <a href="{% url 'table_objs' app table %}" type="submit" class="btn btn-danger"
                       style="margin-top: 19px">重置</a>

                    <hr>
                    <div class="row">
                        <div class="col-lg-3" style="margin-left: 16px">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search fields [{% for i in admin_class.search_fields %}{{ i }},&nbsp;{% endfor %}] " name="_q"
                                       value="{{ search_key }}">
                                <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">搜索</button>
                            </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table table-hover table-bordered table-striped">
                <thead>
                <tr>
                    {% for colum in admin_class.list_display %}
                        {% build_table_thead colum order_key filter_conditions %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for query_set in query_sets %}
                    <tr>
                        {% build_table_row query_set admin_class request %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {#分页开始#}
            <nav aria-label="..." class="pull-right">
                <ul class="pagination">
                    <li><a>总计{{ query_sets.paginator.count }}条</a></li>
                    {% build_paginators query_sets filter_conditions previous_order search_key %}
                </ul>
            </nav>
            {#分页结束#}
        </div>
    </div>

{% endblock %}

